<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">BSOS</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/category/footwear">Footwear</a></li>
        <li><a href="/category/casualwear">Casualwear</a></li>
        <li><a href="/category/formalwear">Formalwear</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/gender/mens">Mens</a></li>
        <li><a href="/gender/womens">Womens</a></li>
        <li><a href="#">Basket</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
