<div class="container">

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 product-container">
        <h4 class="product-name"><%= product.name %></h4>
        <p><a class="btn btn-default" href="#" role="button">Add to basket &raquo;</a></p>
      </div>
    <% end %>
  </div>

  <hr>

</div> <!-- /container -->
